<% 
sourceByHelper = (username,time) => {
    return `<span class="glyphicon glyphicon-user" aria-hidden="true"></span>${username}<br>
    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>${moment(time).format(systemConfig.formatLongTime)}<br>`;
}
%>
