<% groupAcpHelper=(linkPrefix,groupAcp,id)=> {

    let groupClassAcp = (groupAcp == 'yes') ? 'fa-check-square' : 'fa-square';
    let link = linkPrefix + "changeGroupAcp/" + id +"/" + groupAcp;

    return `<a href="${link}" class="far ${groupClassAcp} fa-lg"></a>`;
    }
%>