<% 
    statusHelper = (collection, status, id) => {
        let xhtmlStatus = '';
        let icon = '';
        let link       = systemConfig.prefixAdmin + '/' + collection + '/changeStatus/' + id + '/' + status ;
        if(status === "active") {
            xhtmlStatus = 'btn-success';
            icon = '<i class="fas fa-check"></i>';
        }else if (status === "inactive") {
            xhtmlStatus = 'btn-danger';
            icon = '<i class="fas fa-minus"></i>';
        }

        return `<a href="${link}" class="rounded-circle btn btn-sm ${xhtmlStatus}">${icon}</a>`;
    }
%>




